.App {
  text-align: center;
  padding-top: 100px;
}

body {
  background: #fbf7f5;
}

h1 { 
  margin-top: 20px;
}

.input {
  margin: 20px auto 20px auto;
  max-width: 700px;
}

.input * {
  height: 35px;
}

.domain-string {
  width: 60%;
  text-align: right;
  font-size: 15px;
  display: inline-block;
}

.domain-string:focus {
  outline: none;
}

.input .period {
  width: 5%;
  display: inline-block;
  font-size: 40px;
}

.input select {
  width: 20%;
  font-size: 15px;
  margin-right: 10px;
}

.input button {
  width: 13%;
  display: inline-block;
  font-weight: bold;
}

.error-text {
  font-size: 14px;
  margin-top: 20px;
  font-weight: bold;
  color: #bd1531;
}

.preview {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0;
  max-width: 700px;
  margin: 20px auto 0 auto;
  z-index: -1;
}

.preview:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.preview:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

.preview-text {
  display: block;
  position: fixed;
  top: 488px;
  left: 673px;
}
